<nav>
    <div class="site-title">
      <a href="/"><h1>FitBSU</h1></a>
      <p>FitBSU Website</p>
    </div>
    <ul>
      <li><a href="/">Workouts</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/workouts/create">New Workout</a></li>
    </ul>
  </nav>