<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>With FitBSU You can start to make progress on your new healthy lifestyle.</p>
    <p>By logging your workouts and calories burned on a daily basis, you can build new habits and make committments to doing whats best for you</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>